//============= Colors =============

    //$act: #DA0916;



:root { 
    
    //============= Container =============

        // --container-width: 1560px;


    //============= Fonts =============

        // $font-size: 48px;
        // --font-size-48: clamp(32px, 2.5vw, 48px);
    
}
