@use './fonts/etude-noire.css';
@use '/_reset';
@use '/_vars';
@use '/_fonts';
@use '/_mixins';
@use '/_common';
@use './components//header/header.scss';
@use '/_main';


@use '_media';

:root {
  --etude-noire: 'Etude Noire', Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--etude-noire);
  background-color: #1f1f1f;
  color: #cacaca;
}

.container {
  width: 100%;
  padding: 0 20px;
}

header.container {
  margin: 20px 0;
}

header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  @include MaxHeight(120);
  @include flexbox();

  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: sticky;
}

header img {
  max-width: 50px;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

header p {
  @include fontSize(26);
  line-height: 16px;
}

.intro {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 100px 50px;

  @include flexbox();
  @include MinHeight(800);
  @include fontSize(84);
  
  flex-direction: column;

  font-weight: bold;
  text-transform: uppercase;

  z-index: 1;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('../images/IMG_2969.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: .7;
}

.projects ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;

  @include MaxHeight(1200);
  
  @include flexbox();
}

.projects ul li {
  width: 100%;
  height: 100%;
  text-align: center;
}

.projects ul li h2 {
  @include fontSize(54);
  line-height: 43px;
  min-height: 120px;

  @include flexbox();

  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects__preview {
  width: 100%;
  
  @include flexbox();

  align-items: center;
  flex-direction: row;
}

.projects__preview-image {
  object-fit: cover;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100% !important;
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}

.description.container {
  margin: 40px 0;
}

.description div {
  padding: 20px;
  width: 100%;
  background-color: #589bac;
  border-radius: 16px;

  @include flexbox();

  flex-direction: column;
  gap: 30px;
}

.description p {
  color: #1f1f1f;

  @include fontSize(40);

  display: block;
  border: 1px solid #000;
}

.description p:nth-child(even) {
  color: rgb(218, 218, 218);
  padding-left: 10%;
}

footer p {
  padding: 0 0 64px;

  @include fontSize(18);
}

@media screen and (max-width: 640px) {
  header p {
    @include fontSize(13);
    text-align: right;
    line-height: 22px;
  }

  .main .intro {
    @include fontSize(34);
    text-align: center;
    padding: 100px 0;
  }

  .intro::before {
    background-position: right;
  }

  .projects ul {
    @include MaxHeight(600);
  }

  .projects ul li h2 {
    @include fontSize(20);
  }

  .description p {
    @include fontSize(16);
  }

  .description.container {
    margin: 16px 0;
  }
}